In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt

## IMPORT DEI DATASET

In [ ]:
inventory_items_raw = pd.read_csv('inventory.csv') #insert the path

## Dataset Inventory_items

In [ ]:
inventory_items_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490182 entries, 0 to 490181
Data columns (total 16 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              490182 non-null  int64
 1   product_id                      490182 non-null  int64
 2   created_at                      490182 non-null  object
 3   sold_at                         181497 non-null  object
 4   cost                            490182 non-null  float64
 5   product_category                490182 non-null  object
 6   product_name                    490141 non-null  object
 7   product_brand                   489799 non-null  object
 8   product_retail_price            490182 non-null  float64
 9   product_department              490182 non-null  object
 10  product_sku                     490182 non-null  object
 11  product_distribution_center_id  490182 non-null  int64
 12  id_1                            490182 non-null  int64
 13  name                            490182 non-null  object
 14  latitude                        490182 non-null  float64
 15  longitude                       490182 non-null  float64
dtypes: float64(4), int64(4), object(8)
memory usage: 59.8+ MB

In [ ]:
inventory_items = inventory_items_raw.copy()

In [ ]:
inventory_items = inventory_items.rename(columns={
                                      "id": "inventory_item_id",
                                      "created_at" : "item_created_at",
                                      "sold_at" : "item_sold_at",
                                      "cost" : "product_cost",
                                      "name" : "product_distribution_center"})

In [ ]:
inventory_items = inventory_items.drop(['product_sku', 'product_distribution_center_id', 'id_1', 'latitude', 'longitude'], axis=1)

In [ ]:
inventory_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490182 entries, 0 to 490181
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   inventory_item_id            490182 non-null  int64
 1   product_id                   490182 non-null  int64
 2   item_created_at              490182 non-null  object
 3   item_sold_at                 181497 non-null  object
 4   product_cost                 490182 non-null  float64
 5   product_category             490182 non-null  object
 6   product_name                 490141 non-null  object
 7   product_brand                489799 non-null  object
 8   product_retail_price         490182 non-null  float64
 9   product_department           490182 non-null  object
 10  product_distribution_center  490182 non-null  object
dtypes: float64(2), int64(2), object(7)
memory usage: 41.1+ MB

Notiamo che abbiamo dei missing value nelle seguenti colonne:
- product_name
- product_brand

In [ ]:
inventory_items.head(1)

,inventory_item_id,product_id,item_created_at,item_sold_at,product_cost,product_category,product_name,product_brand,product_retail_price,product_department,product_distribution_center
0,66549,16898,2022-12-13 06:03:06 UTC,2023-02-11 01:36:06 UTC,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX

In [ ]:
inventory_items['sold'] = inventory_items['item_sold_at'].copy()
inventory_items['sold'] = inventory_items['sold'].fillna(0)
inventory_items['sold'][inventory_items['sold']!=0] = 1

<ipython-input-8-c64cc8f0414e>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  inventory_items['sold'][inventory_items['sold']!=0] = 1

In [ ]:
inventory_items.head()

,inventory_item_id,product_id,item_created_at,item_sold_at,product_cost,product_category,product_name,product_brand,product_retail_price,product_department,product_distribution_center,sold
0,66549,16898,2022-12-13 06:03:06 UTC,2023-02-11 01:36:06 UTC,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1
1,66550,16898,2021-01-09 08:36:00 UTC,NaN,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,0
2,286111,16898,2022-07-11 22:53:10 UTC,2022-09-08 08:42:10 UTC,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1
3,286112,16898,2022-05-08 04:59:00 UTC,NaN,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,0
4,318463,16898,2020-09-05 03:44:24 UTC,2020-11-02 16:59:24 UTC,13.925,Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1

In [ ]:
inventory_items["year_item_sold_at"] = [str(i)[0:4] for i in inventory_items["item_sold_at"]]
inventory_items["mounth_item_sold_at"] = [str(i)[5:7] for i in inventory_items["item_sold_at"]]
inventory_items["year_item_created_at"] = [str(i)[0:4] for i in inventory_items["item_created_at"]]
inventory_items["mounth_item_created_at"] = [str(i)[5:7] for i in inventory_items["item_created_at"]]

In [ ]:
inventory_items['year_item_sold_at'] = inventory_items['year_item_sold_at'].str.replace('nan','0')
inventory_items['year_item_created_at'] = inventory_items['year_item_created_at'].str.replace('nan','0')
inventory_items["year_item_sold_at"] = inventory_items["year_item_sold_at"].astype(int)
inventory_items["year_item_created_at"] = inventory_items["year_item_created_at"].astype(int)

In [ ]:
inventory_items.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 490182 entries, 0 to 490181
Data columns (total 16 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   inventory_item_id            490182 non-null  int64
 1   product_id                   490182 non-null  int64
 2   item_created_at              490182 non-null  object
 3   item_sold_at                 181497 non-null  object
 4   product_cost                 490182 non-null  float64
 5   product_category             490182 non-null  object
 6   product_name                 490141 non-null  object
 7   product_brand                489799 non-null  object
 8   product_retail_price         490182 non-null  float64
 9   product_department           490182 non-null  object
 10  product_distribution_center  490182 non-null  object
 11  sold                         490182 non-null  object
 12  year_item_sold_at            490182 non-null  int64
 13  mounth_item_sold_at          490182 non-null  object
 14  year_item_created_at         490182 non-null  int64
 15  mounth_item_created_at       490182 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 59.8+ MB

In [ ]:
inventory_items.head()

,inventory_item_id,product_id,item_created_at,item_sold_at,product_cost,product_category,product_name,product_brand,product_retail_price,product_department,product_distribution_center,sold,year_item_sold_at,mounth_item_sold_at,year_item_created_at,mounth_item_created_at
0,66549,16898,2022-12-13 06:03:06 UTC,2023-02-11 01:36:06 UTC,"0 13,92\n1 13,92\n2 13...",Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1,2023,02,2022,12
1,66550,16898,2021-01-09 08:36:00 UTC,NaN,"0 13,92\n1 13,92\n2 13...",Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,0,0,,2021,01
2,286111,16898,2022-07-11 22:53:10 UTC,2022-09-08 08:42:10 UTC,"0 13,92\n1 13,92\n2 13...",Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1,2022,09,2022,07
3,286112,16898,2022-05-08 04:59:00 UTC,NaN,"0 13,92\n1 13,92\n2 13...",Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,0,0,,2022,05
4,318463,16898,2020-09-05 03:44:24 UTC,2020-11-02 16:59:24 UTC,"0 13,92\n1 13,92\n2 13...",Tops & Tees,Quiksilver Waterman Men's On The Rise,NaN,25.0,Men,Houston TX,1,2020,11,2020,09

# DATASET DA ESPORTARE IN CSV

In [ ]:
import os

In [ ]:
inventory_items.to_csv('/inventory_items.csv') #insert the path

In [ ]:
inventory_items.to_excel('/inventory_items.xlsx') #insert the path